

body{
  background-color: transparent;
}

html,body,#root{
  height: 100%;
}

.head{
  background-color: whitesmoke;
  padding: 10px;
  text-align: center;
  margin: 20px 0px;
  
}
.logo-img{
  width: 40px;
  height: 43px;
}

.search input{
  border: 5px solid black;
}

.menu{
  border-radius: 0px 10px 10px 0px;
  margin: 10px 0px ;
  height: 100%;
  box-shadow: 4px 2px 3px 1px grey;
}

.menu-item{
  align-items: center;
  color: grey;
  cursor: pointer;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
}

.menu .active{
  background-color: black;
  color: rgb(0, 166, 255);

}

.menu-item svg{
  font-size: 25px;
}
.menu-item >span{
  margin-left: 10px;
  font-size: 16px;
}

.songs{
  justify-content: center;
}

.song{
  margin: 10px;
  cursor: pointer;
  position: relative;

}
.play-icon{
  position: absolute;
  opacity:0.6;
  font-size: 5em;
  left: 35px;
  bottom: 80px;
  background-color: aliceblue;
  border-radius: 50%;
}
.content{
  margin-top: 20px;
}
.audio-img{
  height: 150px;
  border-radius: 10px;
}

.playlisy-header{
  font-size: 25px;
  border-radius: 20px;
  margin: 10px 30px;
  padding: 0px 30px;
  align-items: center;
  display: flex;
  background-color: whitesmoke;
}

.playlisy-header > svg{
 color: black;
 margin: 0px 20px;
 cursor: pointer;
}

.player{
  position: fixed;
  bottom: 10px;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  color: black;
}

.player-control {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.player-control:hover{
  background-color: black;
  color: white;
  border-radius: 15px;
}

.player .name{
  padding-right: 15px;
}

.cursor-disable{
  cursor: not-allowed;
}
